@using Presentation.Mvc.Controllers
@using Presentation.Mvc.Utils
@model ImagesViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Images</h2>

<div class="row">
    @foreach (var image in Model.Images)
    {
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
            <div class="card" style="width: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                <div class="image-placeholder">
                    <a class="pretty-image-card" href="@Url.Action(nameof(ImagesController.Detail), typeof(ImagesController).GetControllerName(), new { id = image.Id })">
                        <img src="@image.ImageUrl" alt="couldn't load" class="image-card-image"/>
                    </a>
                </div>
                <div class="image-card-body" style="display: flex; justify-content: space-between; align-items: center;">
                    <div class="image-card-text" style="text-overflow: ellipsis">
                        @image.Name
                    </div>
                    <div class="image-date-text">
                        @image.CreatedAt.ToString("MMMM dd") <br/>
                        @image.CreatedAt.ToString("yyyy") <span class="bi bi-calendar"></span>
                    </div>
                </div>
            </div>
        </div>
    }
</div>